:root {
    --darkGreen: #092635;
    --buttonBackground: #9EC8B9;
    --white: #ffffff;

    --mainColor: #092635;
    --secondColor: #1B4242;
    --thirdColor: #5C8374;
    --fourthColor: #9EC8B9;
    --fifthColor: #ECF4D6;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* navbar */

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80px;
    background-color: var(--fourthColor);
    padding: 10px;
}

nav div {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

nav div img {
    width: 40px;
    padding: 5px;
}

nav div img:hover {
    background-color: var(--thirdColor);
    border-radius: 50%;
}

nav img {
    width: 50px;
    margin-right: 10px;
}

nav h2 {
    color: var(--mainColor);
}

/* SubTitle */

div.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

div#startPoint {
    width: 15px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--mainColor);
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

div.title span {
    color: var(--mainColor);
    font-weight: bold;
    font-size: 24px;
}

/* Tour Guide Info */
.infoContanier {
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

div.imageContaner {
    width: 30%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    margin: 10px;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0);
}

div.imageContaner img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid gray;
    padding: 5px;
}

div.updateInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 250px;
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0);
}

.userData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.field {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}

.field img {
    width: 20px;
    margin-right: 10px;
}

.field input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

/* User Brief Container */
.userBrief {
    height: 70%;
    margin: 10px;
}

.userBrief input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0);
}

/* Update Button Container */

.updateButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.updateButton button {
    width: 150px;
    height: 35px;
    background-color: var(--fourthColor);
    color: var(--mainColor);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.updateButton button:active {
    background-color: var(--mainColor);
    color: var(--fourthColor);
}

/*  */

.addTripContainer,
.updateTripContainer {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.addTripContent,
.updateTripContent {
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 400px;
    height: auto;
    margin: auto;
    border: 1px solid #888;
    background-color: #fefefe;
    border-radius: 10px;
    gap: 10px;
}

.addTripContent img,
.updateTripContent img {
    width: 16px;
    height: 16px;
    align-self: flex-end;
}

.addTripContent div,
.updateTripContent div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

div label {
    width: 30%;
}

div input,
div select {
    width: 70%;
    height: 30px;
    border-radius: 4px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

div input#addDescription {
    width: 70%;
    height: 80px;
}

div button {
    border: none;
    outline: none;
    width: 120px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--buttonBackground);
    color: var(--mainColor);
    font-weight: bold;
}

div button:active {
    background-color: var(--mainColor);
    color: var(--buttonBackground);
}

.hidden {
    display: flex;
    /* transform: scale(1); */
}


/*  */
.containerTrips {
    display: flex;
    flex-direction: column;
}

.addTrips {
    position: absolute;
    right: 0;
    margin-right: 50px;
}


.tripsContanier {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-around; */
    margin: 10px;
    padding: 10px;
}

.contentTrips {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 400px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0);
    background-color: white;
    transition: all 2s;
    border-radius: 20px;
}


.contentTrips div.buttons {
    display: flex;
    position: absolute;
    align-self: flex-end;
    margin: 8px;
    gap: 10px;
}

.contentTrips div.buttons img {
    width: 30px;
    height: 30px;
}

.contentTrips img#tripImage {
    width: auto;
    height: 150px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: all 1s;
}

.contentTrips img#tripImage:hover {
    height: 160px;
    transition: all 1s;
}

.contentTrips div.tripTitleContanier {
    display: flex;
    justify-content: center;
   align-items: center;
    flex-direction: row;
    padding-left: 8px;
    padding-right: 8px;
    gap: 8px;
    height: 40px;
}

div.tripTitleContanier span {
    width: 60%;
    font-size: 18px;
}

div.tripTitleContanier p {
    width: 40%;
    font-size: 14px;
    text-align: end;
    color: red;
}

.contentTrips h3 {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.contentTrips p {
    width: auto;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    text-align: justify;
    overflow: hidden;
}